{% extends 'aplicacion/baseListar.html' %}
{% load crispy_forms_tags %}
{% block main %}
{% load static %}
    <div class="container" align="center">
        <h1 class="jumbotron-heading"><img style="width:100px; height:100px;" src="{% static 'img/banner.jpg' %}" alt="logo" >
            Pacientes Registrados</h1>
    </div>
    <hr align="center" noshade="noshade" size="10" width="95%" />
    <div class="container">
        <div class="tabPaciente">
            {% for paciente in object_list %}
            <button class="tablinks" onclick="openCity(event, {{paciente.cedula}})"> {{paciente.cedula}} </button>
            {% endfor %}
        </div>

        {% for paciente in object_list %}
        <div id="{{paciente.cedula}}" class="tabcontent">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" value="{{paciente.nombre}}" disabled>
                </div>
                <div class="form-group">
                    <label>Apellido paterno</label>
                    <input type="text" class="form-control" value="{{paciente.apellidoPaterno}}" disabled>
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <input type="text" class="form-control" value="{{paciente.sexo}}" disabled>
                </div>
                <div class="form-group">
                    <label>Grupo sanguineo</label>
                    <input type="text" class="form-control" value="{{paciente.rhP}}" disabled>
                </div>
                <div class="form-group">
                    <label>Antecedentes personales patológicos</label>
                    <input type="text" class="form-control" value="{{paciente.apP}}" disabled>
                </div>
                <div class="form-group">
                    <label>Antecedentes personales no patológicos</label>
                    <input type="text" class="form-control" value="{{paciente.apnP}}" disabled>
                </div>
                <div class="form-group">
                    <label>Medicamentos actuales</label>
                    <input type="text" class="form-control" value="{{paciente.medicamentos}}" disabled>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{paciente.emailP}}" disabled>
                </div>
                <div class="form-group">
                    <label>Dirección de residencia</label>
                    <input type="text" class="form-control" value="{{paciente.direccionP}}" disabled>
                </div>
                <div class="form-group">
                    <label>Acudiente del paciente</label>
                    <input type="text" class="form-control" value="{{paciente.acudienteP}}" disabled>
                </div>
                <div class="form-group">
                    <label>Teléfono del acudiente</label>
                    <input type="number" class="form-control" value="{{paciente.telefonoA}}" disabled>
                </div>
                <div class="form-group" align="center">
                    <a class="btn btn-success btn-lg" href="{% url 'aplicacion:editar_paciente' paciente.cedula %}"> Editar paciente </a>
                    <a class="btn btn-success btn-lg" href="{% url 'aplicacion:eliminar_paciente' paciente.cedula %}"> Eliminar paciente </a>
                </div>
            </form>
        </div>
        {% endfor %}

    </div>
    <hr align="center" noshade="noshade" size="10" width="95%" />
    <div class="container" align="center">
        <a href="../crear_paciente" class="btn btn-success btn-lg">Agregar paciente</a>
    </div>
{% endblock %}
