{% extends 'aplicacion/baseListar.html' %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="container" align="center">
        <h1 class="jumbotron-heading"><img style="width:100px; height:100px;" src="https://banner2.kisspng.com/20180906/lzs/kisspng-vector-graphics-logo-clip-art-centre-hospitalier-s-samu-logo-svg-vector-amp-png-transparent-vecto-5b91c3b993d6a4.3548522115362794816056.jpg" </img>
            Ambulancias Registradas</h1>
    </div>
    <hr align="center" noshade="noshade" size="10" width="95%" />
    <div class="container">
        <div class="tabHospital">
            {% for hospital in object_list %}
            <button class="tablinks" onclick="openCity(event, {{hospital.id}})"> {{hospital.nombre}} </button>
            {% endfor %}
        </div>

        {% for hospital in object_list %}
        <div id="{{hospital.id}}" class="tabcontent">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Dirección hospital</label>
                    <input type="text" class="form-control" value="{{hospital.direccion}}" disabled>
                </div>
                <div class="form-group">
                    <label>Teléfono hospital</label>
                    <input type="number" class="form-control" value="{{hospital.telefono}}" disabled>
                </div>
                <div class="form-group">
                    <label>Nivel</label>
                    <input type="text" class="form-control" value="{{hospital.nivel}}" disabled>
                </div>
                <div class="form-group">
                    <label>Especialidades</label>
                    <input type="text" class="form-control" value="{{hospital.especialidad}}" disabled>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Número de camas</label>
                    <input type="number" class="form-control" value="{{hospital.numeroCamas}}" disabled>
                </div>
                <div class="form-group" align="center">
                    <button type="submit" class="btn btn-danger btn-lg">Editar información</button>
                    <button type="submit" class="btn btn-danger btn-lg">Eliminar ambulancia</button>
                </div>
            </form>
        </div>
        {% endfor %}

    </div>
    <hr align="center" noshade="noshade" size="10" width="95%" />
    <div class="container" align="center">
        <a href="../crear_hospital" class="btn btn-danger btn-lg">Agregar Hospital</a>
    </div>
{% endblock %}
